<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cookmate.cookmate_web.domain.users.mapper.UserMapper">

    <!--
    =======================
    회원가입/로그인
    =======================
    -->
    <insert id="insertUser" parameterType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$RegistRequest">
        /* UserMapper.insertUser : 회원가입 */
        INSERT INTO USERS ( LOGIN_ID
                          , USER_KEY
                          , USER_NM
                          , USER_BRTH
                          , ZIP_CD
                          , ADDR
                          , ADDR_DTL
                          , TEL_PHONE
                          , GENDER
                          , PSWD
                          , PSWD_ERR_CNT
                          , EMAIL
                          , NICKNAME
                          , CRET_DT
                          , DEL_YN
                          , MRKT_AGRE_YN
                          , FILE_GRP_ID)
        VALUES ( #{loginId}
               , #{userKey}
               , #{userNm}
               , #{userBrth}
               , #{zipCd}
               , #{addr}
               , #{addrDtl}
               , #{telPhone}
               , #{gender}
               , #{encPswd}
               , 0
               , #{email}
               , #{nickname}
               , CURRENT_TIMESTAMP
               , 'N'
               , #{mrktAgreYn}
               , #{fileGrpId})
    </insert>

    <select id="selectUserInfo" parameterType="string" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        /* UserMapper.selectUserInfo : 사용자 정보 조회 */
        SELECT USER_KEY
               , PSWD
               , LOGIN_ID
               , USER_NM
               , NICKNAME
               , EMAIL
               , FILE_GRP_ID
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
          AND DEL_YN = 'N'
    </select>

    <!--
    =======================
    헬퍼 메소드
    =======================
    -->
    <select id="selectLoginId" parameterType="string" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        /* UserMapper.selectLoginId : 아이디 중복 체크 */
        SELECT USER_KEY
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
          AND DEL_YN = 'N'
    </select>

    <select id="selectEmail" parameterType="string" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        /* UserMapper.selectEmail : 이메일 중복 체크 */
        SELECT USER_KEY
        FROM USERS
        WHERE EMAIL = #{email}
          AND DEL_YN = 'N'
    </select>

    <select id="selectNickname" parameterType="string" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        /* UserMapper.selectNickname : 닉네임 중복 체크 */
        SELECT USER_KEY
        FROM USERS
        WHERE NICKNAME = #{nickname}
          AND DEL_YN = 'N'
    </select>

    <!--
    =======================
    계정 찾기
    =======================
    -->
    <select id="selectLoginIdByNameAndEmail" parameterType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$FindIdRequest" resultType="string">
        /* UserMapper.selectLoginIdByNameAndEmail : 아이디 찾기 */
        SELECT LOGIN_ID
        FROM USERS
        WHERE USER_NM = #{userNm}
          AND EMAIL = #{email}
          AND DEL_YN = 'N'
    </select>

    <update id="updateTemporaryPassword" parameterType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$FindPwRequest">
        /* UserMapper.updateTemporaryPassword : 임시 비밀번호 발급 업데이트 */
        UPDATE USERS
        SET PSWD = #{encPswd}
        WHERE LOGIN_ID = #{loginId}
          AND DEL_YN = 'N'
    </update>
</mapper>