<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookmate.cookmate_web.domain.recipe.mapper.RecipeMapper">

    <insert id="insertRecipeInfo" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Recipe" useGeneratedKeys="true" keyProperty="recipeSeq">
        /* RecipeMapper.insertRecipeInfo : 레시피 정보 등록 */
        INSERT INTO RECIPE (
            RECIPE_ID, RECIPE_TTL, DISH_NM, RECIPE_CN, COOKING_TIME, RECIPE_DIFFICULT_CD,
            CATEGORY_CD, FILE_GRP_ID, RGTR_KEY, RECIPE_STATUS
        ) VALUES (
            #{recipeId}, #{recipeTtl}, #{dishNm}, #{recipeCn}, #{cookingTime}, #{recipeDifficultCd},
            #{categoryCd}, #{fileGrpId}, #{rgtrKey}, #{recipeStatus}
        )
    </insert>

    <insert id="insertRecipeIngredient" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Ingredient">
        /* RecipeMapper.insertRecipeIngredient : 레시피 재료 정보 등록 */
        INSERT INTO INGREDIENT (
            RECIPE_SEQ, INGRD_NM, INGRD_AMT, INGRD_UNT
        ) VALUES (
            #{recipeSeq}, #{ingrdNm}, #{ingrdAmt}, #{ingrdUnt}
        )
    </insert>

    <insert id="insertRecipeStep" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Step">
        /* RecipeMapper.insertRecipeStep : 레시피 단계 정보 등록 */
        INSERT INTO RECIPE_STEP (
            RECIPE_SEQ, STEP_NO, STEP_CN, FILE_GRP_ID
        ) VALUES (
            #{recipeSeq}, #{stepNo}, #{stepCn}, #{fileGrpId}
        )
    </insert>

    <select id="selectRecipeInfoList"
            parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Search"
            resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Summary">
        /* RecipeMapper.selectRecipeInfoList : 레시피 정보 목록 페이징 및 조건 조회 */
        <include refid="pagination.start" />
        SELECT R.RECIPE_SEQ
             , R.RECIPE_ID
             , R.RECIPE_TTL
             , R.DISH_NM
             , R.RECIPE_CN
             , R.COOKING_TIME
             , R.RECIPE_DIFFICULT_CD
             , R.CATEGORY_CD
             , R.VIEW_CNT
             , (SELECT COUNT(*) FROM LIKES L WHERE L.TGT_SEQ = R.RECIPE_SEQ) AS LIKE_CNT
             , U.USER_NM AS WRITER_NAME
             , R.FILE_GRP_ID
             , R.REG_DT
        FROM RECIPE R
        INNER JOIN USERS U
           ON R.RGTR_KEY = U.USER_KEY
          AND U.DEL_YN = 'N'
        WHERE R.DEL_YN = 'N'
        <if test="categoryCd != null and categoryCd != ''">
          AND R.CATEGORY_CD = #{categoryCd}
        </if>
        <if test="recipeDifficultCd != null and recipeDifficultCd != ''">
          AND R.RECIPE_DIFFICULT_CD = #{recipeDifficultCd}
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
          AND (
              R.RECIPE_TTL LIKE CONCAT('%', #{searchKeyword}, '%')
              OR R.DISH_NM LIKE CONCAT('%', #{searchKeyword}, '%')
          )
        </if>
        <if test="minViews != null and minViews > 0">
          AND R.VIEW_CNT >= #{minViews}
        </if>
        <if test="minLikes != null and minLikes > 0">
          AND (SELECT COUNT(*) FROM LIKES L WHERE L.TGT_SEQ = R.RECIPE_SEQ) >= #{minLikes}
        </if>
        <if test="dateRange != null and dateRange != ''">
          <choose>
            <when test='dateRange == "1D"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 DAY'
            </when>
            <when test='dateRange == "1W"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 WEEK'
            </when>
            <when test='dateRange == "1M"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 MONTH'
            </when>
          </choose>
        </if>
        ORDER BY R.REG_DT DESC
        <include refid="pagination.end" />
    </select>

    <select id="retrieveRecipeInfo" parameterType="string" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Detail">
        /* RecipeMapper.retrieveRecipeInfo : 레시피 정보 상세 조회 */
        SELECT R.RECIPE_SEQ
             , R.RECIPE_ID
             , R.RECIPE_TTL
             , R.DISH_NM
             , R.RECIPE_CN
             , R.COOKING_TIME
             , R.RECIPE_DIFFICULT_CD
             , R.CATEGORY_CD
             , R.VIEW_CNT
             , U.USER_NM AS WRITER_NAME
             , R.REG_DT
             , R.RECIPE_STATUS
             , R.FILE_GRP_ID
        FROM RECIPE R
        INNER JOIN USERS U
            ON R.RGTR_KEY = U.USER_KEY
            AND U.DEL_YN = 'N'
        WHERE R.RECIPE_ID = #{recipeId}
          AND R.DEL_YN = 'N'
    </select>

    <select id="selectRecipeIngredientList" parameterType="long" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Ingredient">
        /* RecipeMapper.selectRecipeIngredientList : 레시피 재료 목록 조회 */
        SELECT INGRD_NM
             , INGRD_AMT
             , INGRD_UNT
        FROM INGREDIENT
        WHERE RECIPE_SEQ = #{recipeSeq}
          AND DEL_YN = 'N'
    </select>

    <select id="selectRecipeStepList" parameterType="long" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Step">
        /* RecipeMapper.selectRecipeStepList : 레시피 단계 목록 조회 */
        SELECT STEP_NO
             , STEP_CN
             , FILE_GRP_ID
        FROM RECIPE_STEP
        WHERE RECIPE_SEQ = #{recipeSeq}
          AND DEL_YN = 'N'
        ORDER BY STEP_NO
    </select>

    <update id="updateRecipeInfo" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Recipe">
        /* RecipeMapper.updateRecipeInfo : 레시피 정보 수정 */
        UPDATE RECIPE
        SET RECIPE_TTL          = #{recipeTtl}
          , DISH_NM             = #{dishNm}
          , RECIPE_CN           = #{recipeCn}
          , COOKING_TIME        = #{cookingTime}
          , RECIPE_DIFFICULT_CD = #{recipeDifficultCd}
          , CATEGORY_CD         = #{categoryCd}
          , RECIPE_STATUS       = #{recipeStatus}
          , FILE_GRP_ID         = #{fileGrpId}
          , MDFCN_DT            = CURRENT_TIMESTAMP
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <update id="deleteRecipeIngredientList" parameterType="long">
        /* RecipeMapper.deleteRecipeIngredientList : 레시피 재료 정보 삭제 */
        UPDATE INGREDIENT
        SET DEL_YN = 'Y'
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <update id="deleteRecipeStepList" parameterType="long">
        /* RecipeMapper.deleteRecipeStepList : 레시피 단계 정보 삭제 */
        UPDATE RECIPE_STEP
        SET DEL_YN = 'Y'
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <update id="deleteRecipeInfo" parameterType="string">
        /* RecipeMapper.deleteRecipeInfo : 레시피 정보 삭제 */
        UPDATE RECIPE
           SET DEL_YN   = 'Y'
             , MDFCN_DT = CURRENT_TIMESTAMP
         WHERE RECIPE_ID = #{recipeId}
    </update>

</mapper>
