<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookmate.cookmate_web.domain.recipe.mapper.RecipeMapper">

    <!--
    ======================
    레시피 관련
    ======================
    -->
    <select id="selectRecipeInfoList"
            parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Search"
            resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Summary">
        /* RecipeMapper.selectRecipeInfoList : 레시피 정보 목록 페이징 및 조건 조회 */
        <include refid="pagination.start" />
        SELECT R.RECIPE_SEQ
             , R.RECIPE_ID
             , R.RECIPE_TTL
             , R.DISH_NM
             , R.RECIPE_CN
             , R.COOKING_TIME
             , R.RECIPE_DIFFICULT_CD
             , R.CATEGORY_CD
             , R.VIEW_CNT
             , (SELECT COUNT(*) FROM LIKES L WHERE L.TGT_SEQ = R.RECIPE_SEQ) AS LIKE_CNT
             , U.USER_NM AS WRITER_NAME
             , R.FILE_GRP_ID
             , R.REG_DT
        FROM RECIPE R
        INNER JOIN USERS U
           ON R.RGTR_KEY = U.USER_KEY
          AND U.DEL_YN = 'N'
        WHERE R.DEL_YN = 'N'
          AND R.RECIPE_STATUS = '02'
        <if test="categoryCd != null and categoryCd != ''">
          AND R.CATEGORY_CD = #{categoryCd}
        </if>
        <if test="recipeDifficultCd != null and recipeDifficultCd != ''">
          AND R.RECIPE_DIFFICULT_CD = #{recipeDifficultCd}
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
          AND (
              R.RECIPE_TTL LIKE CONCAT('%', #{searchKeyword}, '%')
              OR R.DISH_NM LIKE CONCAT('%', #{searchKeyword}, '%')
              OR EXISTS (
                  SELECT 1
                  FROM INGREDIENT I
                  WHERE I.RECIPE_SEQ = R.RECIPE_SEQ
                    AND I.DEL_YN = 'N'
                    AND I.INGRD_NM LIKE CONCAT('%', #{searchKeyword}, '%')
              )
              OR EXISTS (
                  SELECT 1
                  FROM RECIPE_HASHTAG RH
                  INNER JOIN HASHTAG H
                     ON RH.HSTG_SEQ = H.HSTG_SEQ
                    AND H.DEL_YN = 'N'
                  WHERE RH.RECIPE_SEQ = R.RECIPE_SEQ
                    AND RH.DEL_YN = 'N'
                    AND H.HSTG_NM LIKE CONCAT('%', #{searchKeyword}, '%')
              )
          )
        </if>
        <if test="dateRange != null and dateRange != ''">
          <choose>
            <when test='dateRange == "1D"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 DAY'
            </when>
            <when test='dateRange == "1W"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 WEEK'
            </when>
            <when test='dateRange == "1M"'>
              AND R.REG_DT >= CURRENT_TIMESTAMP - INTERVAL '1 MONTH'
            </when>
          </choose>
        </if>
        <choose>
          <when test="sortType == 'popular'">
            ORDER BY LIKE_CNT DESC, R.REG_DT DESC
          </when>
          <when test="sortType == 'views'">
            ORDER BY R.VIEW_CNT DESC, R.REG_DT DESC
          </when>
          <otherwise>
            ORDER BY R.REG_DT DESC
          </otherwise>
        </choose>
        <include refid="pagination.end" />
    </select>

    <select id="selectTempRecipeList" parameterType="string" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Summary">
        /* RecipeMapper.selectTempRecipeList : 임시저장 레시피 목록 조회 */
        SELECT R.RECIPE_SEQ
             , R.RECIPE_ID
             , R.RECIPE_TTL
             , R.DISH_NM
             , R.RECIPE_CN
             , R.COOKING_TIME
             , R.RECIPE_DIFFICULT_CD
             , R.CATEGORY_CD
             , R.VIEW_CNT
             , 0 AS LIKE_CNT
             , U.USER_NM AS WRITER_NAME
             , R.FILE_GRP_ID
             , COALESCE(R.MDFCN_DT, R.REG_DT) AS REG_DT
        FROM RECIPE R
        INNER JOIN USERS U
           ON R.RGTR_KEY = U.USER_KEY
          AND U.DEL_YN = 'N'
        WHERE R.DEL_YN = 'N'
          AND R.RECIPE_STATUS = '01'
          AND R.RGTR_KEY = #{userKey}
        ORDER BY REG_DT DESC
    </select>

    <select id="retrieveRecipeInfo" parameterType="string" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Detail">
        /* RecipeMapper.retrieveRecipeInfo : 레시피 정보 상세 조회 */
        SELECT R.RECIPE_SEQ
             , R.RECIPE_ID
             , R.RECIPE_TTL
             , R.DISH_NM
             , R.RECIPE_CN
             , R.COOKING_TIME
             , R.RECIPE_DIFFICULT_CD
             , R.CATEGORY_CD
             , R.VIEW_CNT
             , ( SELECT COUNT(TGT_SEQ)
                 FROM LIKES
                 WHERE TGT_SEQ = R.RECIPE_SEQ
                   AND TGT_TY = 'RECIPE'
                   AND DEL_YN = 'N'
                ) AS LIKE_CNT
             , U.USER_NM AS WRITER_NAME
             , R.REG_DT
             , R.RECIPE_STATUS
             , R.OPEN_YN
             , R.FILE_GRP_ID
        FROM RECIPE R
        INNER JOIN USERS U
            ON R.RGTR_KEY = U.USER_KEY
            AND U.DEL_YN = 'N'
        WHERE R.RECIPE_ID = #{recipeId}
          AND R.DEL_YN = 'N'
    </select>

    <insert id="insertRecipeInfo" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Recipe" useGeneratedKeys="true" keyProperty="recipeSeq">
        /* RecipeMapper.insertRecipeInfo : 레시피 정보 등록 */
        INSERT INTO RECIPE (RECIPE_ID, RECIPE_TTL, DISH_NM, RECIPE_CN, COOKING_TIME, RECIPE_DIFFICULT_CD,
                            CATEGORY_CD, FILE_GRP_ID, RGTR_KEY, RECIPE_STATUS, OPEN_YN)
        VALUES (#{recipeId}, #{recipeTtl}, #{dishNm}, #{recipeCn}, #{cookingTime}, #{recipeDifficultCd},
                #{categoryCd}, #{fileGrpId}, #{rgtrKey}, #{recipeStatus}, #{openYn})
    </insert>

    <update id="updateRecipeInfo" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Recipe">
        /* RecipeMapper.updateRecipeInfo : 레시피 정보 수정 */
        UPDATE RECIPE
        SET RECIPE_TTL          = #{recipeTtl}
          , DISH_NM             = #{dishNm}
          , RECIPE_CN           = #{recipeCn}
          , COOKING_TIME        = #{cookingTime}
          , RECIPE_DIFFICULT_CD = #{recipeDifficultCd}
          , CATEGORY_CD         = #{categoryCd}
          , RECIPE_STATUS       = #{recipeStatus}
          , OPEN_YN             = #{openYn}
          , FILE_GRP_ID         = #{fileGrpId}
          , MDFR_KEY            = #{mdfrKey}
          , MDFCN_DT            = CURRENT_TIMESTAMP
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <update id="deleteRecipeInfo" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Recipe">
        /* RecipeMapper.deleteRecipeInfo : 레시피 정보 삭제 */
        UPDATE RECIPE
           SET DEL_YN   = 'Y'
             , MDFR_KEY = #{mdfrKey}
             , MDFCN_DT = CURRENT_TIMESTAMP
         WHERE RECIPE_ID = #{recipeId}
    </update>

    <!--
    ======================
    재료 관련
    ======================
    -->
    <select id="selectRecipeIngredientList" parameterType="long" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Ingredient">
        /* RecipeMapper.selectRecipeIngredientList : 레시피 재료 목록 조회 */
        SELECT INGRD_NM
             , INGRD_AMT
             , INGRD_UNT
        FROM INGREDIENT
        WHERE RECIPE_SEQ = #{recipeSeq}
          AND DEL_YN = 'N'
    </select>

    <insert id="insertRecipeIngredient" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Ingredient">
        /* RecipeMapper.insertRecipeIngredient : 레시피 재료 정보 등록 */
        INSERT INTO INGREDIENT (RECIPE_SEQ, INGRD_NM, INGRD_AMT, INGRD_UNT)
        VALUES (#{recipeSeq}, #{ingrdNm}, #{ingrdAmt}, #{ingrdUnt})
    </insert>

    <update id="deleteRecipeIngredientList" parameterType="long">
        /* RecipeMapper.deleteRecipeIngredientList : 레시피 재료 정보 삭제 */
        UPDATE INGREDIENT
        SET DEL_YN = 'Y'
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <!--
    ======================
    조리 단계 관련
    ======================
    -->
    <select id="selectRecipeStepList" parameterType="long" resultType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeResponseDTO$Step">
        /* RecipeMapper.selectRecipeStepList : 레시피 단계 목록 조회 */
        SELECT STEP_NO
             , STEP_CN
             , FILE_GRP_ID
        FROM RECIPE_STEP
        WHERE RECIPE_SEQ = #{recipeSeq}
          AND DEL_YN = 'N'
        ORDER BY STEP_NO
    </select>

    <insert id="insertRecipeStep" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$Step">
        /* RecipeMapper.insertRecipeStep : 레시피 단계 정보 등록 */
        INSERT INTO RECIPE_STEP (RECIPE_SEQ, STEP_NO, STEP_CN, FILE_GRP_ID)
        VALUES (#{recipeSeq}, #{stepNo}, #{stepCn}, #{fileGrpId})
    </insert>

    <update id="deleteRecipeStepList" parameterType="long">
        /* RecipeMapper.deleteRecipeStepList : 레시피 단계 정보 삭제 */
        UPDATE RECIPE_STEP
        SET DEL_YN = 'Y'
        WHERE RECIPE_SEQ = #{recipeSeq}
    </update>

    <!--
    ======================
    해시태그 관련
    ======================
    -->
    <select id="selectHashtagSeqByName" parameterType="string" resultType="long">
        /* RecipeMapper.selectHashtagSeqByName : 해시태그 시퀀스 조회 */
        SELECT HSTG_SEQ
        FROM HASHTAG
        WHERE HSTG_NM = #{tagNm}
          AND DEL_YN = 'N'
    </select>

    <insert id="insertHashtag" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$HashtagDTO">
        /* RecipeMapper.insertHashtag : 해시태그 마스터 등록 */
        INSERT INTO HASHTAG (HSTG_ID, HSTG_NM, RGTR_KEY)
        VALUES (#{hstgId}, #{tagNm}, #{rgtrKey})
        ON CONFLICT (HSTG_NM) DO NOTHING
    </insert>

    <select id="selectRecipeHashtags" parameterType="long" resultType="string">
        /* RecipeMapper.selectRecipeHashtags : 레시피 해시태그 목록 조회 */
        SELECT H.HSTG_NM
        FROM RECIPE_HASHTAG RH
                 INNER JOIN HASHTAG H
                            ON RH.HSTG_SEQ = H.HSTG_SEQ
        WHERE RH.RECIPE_SEQ = #{recipeSeq}
          AND H.USE_YN = 'Y'
          AND H.DEL_YN = 'N'
    </select>

    <insert id="insertRecipeHashtag" parameterType="com.cookmate.cookmate_web.domain.recipe.dto.RecipeRequestDTO$HashtagDTO">
        /* RecipeMapper.insertRecipeHashtag : 레시피 해시태그 매핑 등록 */
        INSERT INTO RECIPE_HASHTAG (RECIPE_SEQ, HSTG_SEQ)
        VALUES (#{recipeSeq}, #{hstgSeq})
        ON CONFLICT (RECIPE_SEQ, HSTG_SEQ)
            DO UPDATE SET DEL_YN = 'N'
    </insert>

    <delete id="deleteRecipeHashtags" parameterType="long">
        /* RecipeMapper.deleteRecipeHashtags : 레시피 해시태그 매핑 전체 삭제 (논리 삭제) */
        UPDATE RECIPE_HASHTAG
        SET DEL_YN = 'Y'
        WHERE RECIPE_SEQ = #{recipeSeq}
    </delete>

    <!--
    ======================
    좋아요 관련
    ======================
    -->
    <select id="checkUserLike"
            parameterType="com.cookmate.cookmate_web.domain.common.dto.LikeDTO$Request"
            resultType="com.cookmate.cookmate_web.domain.common.dto.LikeDTO$Response">
        /* RecipeMapper.checkUserLike : 사용자 좋아요 여부 확인 (0: 안 누름, 1: 누름(del_yn=N), -1: 취소됨(del_yn=Y)) */
        SELECT CASE 
                 WHEN DEL_YN = 'N' THEN 1 
                 ELSE -1 
               END AS LIKE_STATUS
        FROM LIKES
        WHERE TGT_SEQ = #{tgtSeq}
          AND USER_SEQ = (SELECT USER_SEQ FROM USERS WHERE USER_KEY = #{userKey} AND DEL_YN = 'N')
          AND TGT_TY = #{tgtTy}
    </select>

    <select id="upsertLike"
            parameterType="com.cookmate.cookmate_web.domain.common.dto.LikeDTO$Request"
            resultType="com.cookmate.cookmate_web.domain.common.dto.LikeDTO$Response">
        /* RecipeMapper.upsertLike : 좋아요 등록/수정 (UPSERT) */
        INSERT INTO LIKES (TGT_SEQ, USER_SEQ, TGT_TY, CRET_DT, DEL_YN)
        VALUES ( #{tgtSeq}
               , (SELECT USER_SEQ FROM USERS WHERE USER_KEY = #{userKey} AND DEL_YN = 'N')
               , #{tgtTy}
               , CURRENT_TIMESTAMP
               , 'N')
        ON CONFLICT (TGT_SEQ, USER_SEQ, TGT_TY)
            DO UPDATE SET DEL_YN = CASE WHEN LIKES.DEL_YN = 'N' THEN 'Y' ELSE 'N' END
        RETURNING CASE
                      WHEN LIKES.DEL_YN = 'N' THEN 1
                      ELSE -1
            END AS LIKE_STATUS
    </select>

</mapper>
