<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cookmate.cookmate_web.domain.users.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$RegistRequest">
        INSERT INTO /* userMapper.insertUser => 회원가입 */
        USERS (
            LOGIN_ID, USER_KEY, USER_NM, USER_BRTH, ZIP_CD, ADDR, ADDR_DTL,
            TEL_PHONE, GENDER, PSWD, PSWD_ERR_CNT, EMAIL, NICKNAME, CRET_DT, DEL_YN
        ) VALUES (
            #{loginId}, #{userKey}, #{userNm}, #{userBrth}, #{zipCd}, #{addr}, #{addrDtl},
            #{telPhone}, #{gender}, #{encPswd}, 0, #{email}, #{nickname}, CURRENT_TIMESTAMP, 'N'
        )
    </insert>

    <select id="selectUserInfo" parameterType="string" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        SELECT /* userMapper.selectUserInfo => 사용자 정보 조회 */
            USER_KEY, PSWD, LOGIN_ID, USER_NM, NICKNAME, EMAIL
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
        AND DEL_YN = 'N'
    </select>
    <select id="selectLoginId" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        SELECT * /* userMapper.selectLoginId => 아이디 중복 체크 */
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
        AND DEL_YN = 'N'
    </select>

    <select id="selectEmail" resultType="com.cookmate.cookmate_web.domain.users.dto.UserDTO$UserInfo">
        SELECT * /* userMapper.selectEmail => 이메일 중복 체크 */
        FROM USERS
        WHERE EMAIL = #{email}
        AND DEL_YN = 'N'
    </select>
</mapper>